.card-container {
  box-sizing: border-box;
  margin: 1vw;
  padding: 0vw;
  border: 5px solid transparent;
  border-radius: 5px;
  width: 70vw;
  height: 20vh;
  display: inline-block;
  position: relative;
  background-color: lightblue;
}

.card-container:hover {
  border: 5px solid orange;
  border-radius: 5px;
}

.card-link {
  text-decoration: none;
  color: blue;
}

.attraction-thumbnail-container {
  height: 96%;
  width: 20%;
  margin: 0px 10px;
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.attraction-thumbnail {
  max-height: 100%;
  max-width: 100%;  
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.attraction-info-container {
  width: 76%;
  height: 96%;
  text-decoration: none;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
  float: left;
}

h2 {
  margin: 0;
  padding: 10px 0 10px 0;
  text-align:left;
}

h3 {
  padding: 0 0 10px 0;
  margin: 0;
  text-align:left;
}
